<div class="container contact">
    <h5 class="texto-bem-vindo">Login</h5>
    <hr />
    <div class="row">
      <div class="col s12">
        <div
          id="msg-login"
          class="card-panel red white-text"
          style="display: none"
        ></div>
      </div>
      <div>
            <button class="btn waves-effect waves-light indigo darken-4" type="submit" (click)="onLogin()">
                LOGIN
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
  </div>
