<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper indigo">
      <div class="container">
        <a class="brand-logo" href="#">
          <img class="my-logo" src="/assets/resources/images/claquete.png" />
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a [routerLink]="['/cadastrar']" class="font-white">Cadastrar</a></li>
          <li><a [routerLink]="['/listar']" class="font-white">Listar</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav indigo" id="mobile-demo" #mobile>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="center">
          <img
            class="img-responsive"
            src="/assets/resources/images/claquete.png"
          />
        </div>
      </div>
    </div>
    <li><a [routerLink]="['/cadastrar']" class="font-white">Cadastrar</a></li>
    <li><a [routerLink]="['/listar']" class="font-white">Listar</a></li>
  </ul>
</div>
