<app-modal-mensagem [show]="modal.show" [content]="modal" (closeEvent)="onCloseModal()">
</app-modal-mensagem>
<div class="cadastro-filme">
    <div class="col s12 center">
        <div class="texto-bem-vindo">
            CADASTRO DE FILMES
        </div>
        <div>
            <p>Cadastro de Filmes</p>
        </div>
        <div>
            <button class="btn waves-effect waves-light indigo" (click)="onSucesso()">
                Mostrar Aviso Sucesso
            </button>
        </div>
    </div>
</div>
